body {
    background-color: black;
    color: white;
    font-family: "Chakra Petch", sans-serif;
    margin: 0px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

header {
    border-bottom: solid 2px rgb(42, 122,228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42,122,228);
}

